@model NiceWebApplication.Models.Book

<div class="book-item">
    <h2>@Model.ID</h2>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Genre: @Model.Genre</p>
    <p>Author: @Model.Author</p>
</div>